*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #312e2eb3;
    color: antiquewhite;
    flex-wrap: wrap;
    position: relative;
    top: 200px;
    left: 50px;
    transform: (-50% ,-50%);

}
h1{
    text-align: center;
    color: blueviolet;
    height: 45px;
    width: 450px;
    border: ipx solid black;
    background-color: #fff;
    margin-left: 400px;
    border-radius: 25px;

}
.main{

    height: 150px;
    width: 90%;
    border: 2px solid gray;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    border-radius: 40px;
    background-color: #fff;
   
}
.button{
    height: 120px;
    width: 120px;
    border: 2px solid black;
    border-radius: 50%;
}
#blue{
 background-color: blue;
}
#red{
    background-color: red;
   }
   #yellow{
    background-color:yellow;
   }
   #orange{
    background-color: orangered;
   }
   #green{
    background-color:green;
   }
   #black{
    background-color: rgb(31, 26, 40);
   }
   #purple{
    background-color: purple;
   }
   #brown{
    background-color: brown;
   }